<!DOCTYPE html>
<html>
<head>
    <title>Create Receipt</title>
</head>
<body>
    <h1>Create Receipt</h1>
    <form method="POST">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date"><br>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>
