<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to DigiBill</h1>
        <p><a class="btn btn-primary" href="{{ url_for('receipt_list') }}">View Receipts</a></p>
        <p><a class="btn btn-success" href="{{ url_for('receipt_create') }}">Create a New Receipt</a></p>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
